<?php
$currencyCode = $this->getCurrencyCode();
$packages = $this->getFinancePackages();
?>

<div class="OF-container">
	<div class="OF-row">
		<div class="OF-col-4-sm" style="border-right: 1px solid #ddd">
			<img src="<?php echo $this -> getViewFileUrl('OmniCapital_Finance::images/logo.png'); ?>" />
		</div>
		<div class="OF-col-8-sm" style="text-align:center">
			<h3>Finance available from <?php echo $currencyCode; ?><span class="min_finance_monthly_payment"></span> per Month.</h3>
			<p>Finance available on all orders between amount <?php echo $currencyCode.$this->getMinOrderPrice(); ?> to <?php echo $currencyCode.$this->getMaxOrderPrice(); ?></p>
		</div>
		
		<div style="clear: both"></div>
		
		<div class="finance-content OF-col-12-sm">
			<a class="button btn btn-default btnShowFinance action primary" style="text-align: center">Show Example</a>
			<table class="financeTable" style="display: none" >
				<tbody>
					<tr>
						<td>Finance Options</td>
						<td>
							<?php if(is_array($packages) && !empty($packages)): ?>
							<select class="finance_options" name="Finance_calc[Code]">
								<?php foreach($packages as $package): ?>
									
									<option value="<?php echo $package['finance_code']; ?>"  months="<?php echo $package['months'] ?>" interest="<?php echo $package['interest'] ?>"><?php echo $package['package_name'].' ('.$package['interest'].'% APR)'; ?></option>
									
								<?php endforeach; ?>
							</select>
							<?php endif; ?>
							<input type="hidden" class="finance_interest" value="">
							<input type="hidden" class="finance_months" value="">
							<input type="hidden" class="finance_cash_price" value="<?php echo $this->getBasePrice() ?>" />
							<input type="hidden" id="goods_price" value="<?php echo $this->getBasePrice() ?>" />
							<input type="hidden" id="finance_deposit" value="<?php echo(($this->getBasePrice() * $this -> getDepositpPercentage()) / 100); ?>" />
							<input type="hidden" id="total_price" value="<?php echo $this->getBasePrice() ?>" />
						</td>
					</tr>
					<tr>
						<td> Deposit to Pay </td>
						<td><span class="finance_deposite"><?php echo $this->getDepositpPercentage(); ?></span>% - <?php echo $currencyCode; ?><span class="finance_deposite_to_pay"></span></td>
					</tr>
					<tr>
						<td> Cash Price </td>
						<td><?php echo $currencyCode; ?><span class="finance_cash_price"><?php echo $this -> getBasePrice(); ?></span></td>
					</tr>
					<tr>
						<td> Loan Amount </td>
						<td><?php echo $currencyCode; ?><span class="finance_loan_amount"></span></td>
					</tr>
					<tr class="hideIfZeroROI">
						<td> Loan Repayment </td>
						<td><?php echo $currencyCode; ?><span class="finance_loan_repayment"></span></td>
					</tr>
					<tr class="hideIfZeroROI">
						<td> Total Amount Payable </td>
						<td><?php echo $currencyCode; ?><span class="finance_total_amount_payable"></span></td>
					</tr>
					<tr>
						<td> <span class="finance_number_of_months"></span> Monthly Payments of</td>
						<td><?php echo $currencyCode; ?><span class="finance_monthly_payment"></span></td>
					</tr>
					<tr class="hideIfZeroROI">
						<td> Rate Of Interest (fixed) </td>
						<td><span class="finance_roi"></span> % APR</td>
					</tr>
					<tr style="display: none">
						<td> Cost of Loan </td>
						<td><?php echo $currencyCode; ?><span class="finance_cost_of_loan"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	
	</div>
</div>
<hr /> 