<?php if($this->isOmniFinanceOrder()): ?>
<p>
	<img style="text-align: center; margin: 0 auto;width: 120px;" src="<?php echo $this -> getViewFileUrl('OmniCapital_Finance::images/logo.png'); ?>" />
</p>
<?php endif; ?>