<b>You will be redirected to Omni Finance in a few seconds</b>

<?php 

$total = $this->getCartTotal();
$pec = $this->getDepositPercentage();

$diposit = ($total*$pec)/100;

?>

<form id="omnifinance_checkout" action="<?php echo $this->getFormAction();?>" name="omnifinance_checkout"  method="post">
	<input type="hidden" name="Identification[api_key]" value="<?php echo $this->getApiKey() ?>" />
	<input type="hidden" name="Identification[RetailerUniqueRef]" value="<?php echo $this->getRetailerUniqueRef() ?>" />
	<input type="hidden" name="Identification[InstallationID]" value="<?php echo $this->getInstallationId(); ?>" />
	<input type="hidden" name="Goods[0][Description]" value="<?php echo $this->getCartItemNames( ); ?>" />
	<input type="hidden" name="Goods[0][Price]" value="<?php echo number_format($this->getCartTotal(), 2, '.', ''); ?>" />
	<input type="hidden" name="Finance[Code]" value="<?php echo $this->getFinanceCode(); ?>" />
	<input type="hidden" name="Finance[Deposit]" value="<?php echo number_format($diposit, 2, '.', '');  ?>" /> 
	<input type="submit" value="Submit" />
</form>

<script type="text/javascript">
//<![CDATA[
    var paymentform = document.getElementById('omnifinance_checkout');
    window.onload = paymentform.submit();
//]]>
</script>